<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>NATIVE_APP_KEY</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao$(KAKAO_API_KEY)</string>
			</array>
		</dict>
	</array>
	<key>FirestoreAPIKey</key>
	<string>$(FIRESTORE_API_KEY)</string>
	<key>KakaoAPIKey</key>
	<string>$(KAKAO_API_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaolink</string>
		<string>kakaokompassauth</string>
		<string>instagram-stories</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Resource/Font/Pretendard-Black.ttf</string>
		<string>Pretendard-ExtraBold.ttf</string>
		<string>Pretendard-Bold.ttf</string>
		<string>Pretendard-SemiBold.ttf</string>
		<string>Pretendard-Midium.ttf</string>
		<string>Pretendard-Regular.ttf</string>
		<string>Pretendard-Thin.ttf</string>
		<string>Pretendard-Light.ttf</string>
		<string>Pretendard-ExtraLight.ttf</string>
		<string>SFCompactDisplay-Semibold.ttf</string>
	</array>
</dict>
</plist>
