//
//  Secrets.xcconfig
//  Outline
//
//  Created by Seungui Moon on 11/2/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KAKAO_API_KEY = a861fc410e302153fd0cc65c0353aac8
FIRESTORE_API_KEY = AIzaSyDGZ63nh_G_vy0Y6RLH_3CxMjIpMOhdscQ
